body {
    font-size: 10pt;
}

table {
    font-size: 10pt;
}

dt {
    font-weight: bold;
}

dd.example PRE {
    background: white;
    border: 1px solid silver;
    padding: 4px;
}

.method_table {
    width: 100%;
    border-collapse: collapse;
}

.declaration {
    font-family: courier;
    white-space:nowrap;
}

.file {
    white-space:nowrap;}

.equation {
    display: block;
    text-align: center;
    font-style: italic;
}

.expression {
    font-style: italic;
}

.header {
    text-align: right;
}

.footer {
    font-size: 8pt;
    text-align: center;
    border-top: 1px solid gray;
    margin-top: 16px;
    padding-top: 4px;
}

.icon {
    vertical-align: middle;
}

.latex {
    vertical-align: middle;
}
